<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Autores del Libro</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Biblioteca</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/autores/">Autores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/libros/">Libros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/categorias/">Categorias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/editoriales/">Editoriales</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-5">
    <h2 class="mb-4">Autores del Libro</h2>
    <ul class="list-group mt-3">
        <!-- Itera sobre los autores del libro -->
        <li th:each="autor : ${autores}" class="list-group-item" th:text="${autor.nombre}"></li>
    </ul>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
